.h1 {
    font-size: large;
    z-index: 2;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 150px;
    background-color: #e4e3db;

}

input[type="number"] {
    padding: 10px;
    font-size: 13px;
    margin: 14px;
    z-index: 2;
}

button {
    padding: 10px 40px;
    font-size: 16px;
    background-color: #1a4068;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}
button:hover {
    background-color: #090f47;
    z-index: 2;
}
.result {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}

#diversão1{
    width: 100vh;
    height: 100vh;
    margin-top: -17vh;
    position: absolute;
    z-index: -1;
}

#diversão2{
    width: 100vh;
    height: 100vh;
    margin-top: -17vh;
    position: absolute;
    margin-left: -50vw;
    z-index: -1;
}

.seta {
    position: absolute;
    height: 3vh;
    width: 5vw;
    font-size: 20px;
    background-color: #1a4068;
    color: white;
    margin-left: -47vw;
    margin-top: -12vh;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.seta:hover {
    transform: scale(1.1);
    cursor: pointer;
}