.h1 {
    font-size: large;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 150px;
    background-color: #e4e3db;

}

input[type="number"] {
    padding: 10px;
    font-size: 13px;
    margin: 14px;
}

button {
    padding: 10px 40px;
    font-size: 16px;
    background-color: #2886eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #2467af;
}
.resul {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}

#escola{
    width: 80vh;
    height: 40vh;
    margin-top: 5vh;
}

.seta {
    position: absolute;
    height: 3vh;
    width: 5vw;
    font-size: 20px;
    background-color: #1a4068;
    color: white;
    margin-left: -47vw;
    margin-top: -10vh;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.seta:hover {
    transform: scale(1.1);
    cursor: pointer;
}